
body {
    font-family: Arial,sans-serif;
    background: #f4f4f4;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
}
.form-container{
    background-color: #f4f4f4;
    padding: 30px;
    margin: 20px;
    width: 300px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0,1);

}
h2{
    margin-bottom: 10px;
}

p{
    margin-bottom: 20px;
}
